{{#each usersList}}
    <article>
        <img class="imgUser" src="{{this.avatar}}" alt="">
        <ul>
            <h3>Nombre: {{this.name}} {{this.surname}}</h3>
            <li>Dni: {{this.dniNumber}}</li>
            <li>Nombre de usuario: {{this.userName}}</li>
            <li>Password: {{this.password}}</li>
            <li>Email: {{this.email}}</li>
            <li>Tipo de membresía: {{this.membresia}}</li>
        </ul>
        <form action="/userById/{{this._id}}" method="GET">
            <button type="submit">Ver usuario</button>
        </form>
        <form action="/deletedUserById/{{this._id}}" method="GET">
            <button type="submit">Borrar</button>
        </form>
        

    </article>
{{/each}}