<fieldset>
        <legend>Detalles</legend>

        <img src="{{this.carImage}}" alt="Logo">

        <section>
            <label for="carBrand">Marca: </label>
            <input type="text" readonly="readonly" value="{{this.carBrand}}">
        </section>

        <section>
            <label for="carModel">Modelo del coche: </label>
            <input type="text" readonly="readonly" value="{{this.carModel}}">
        </section>

        {{!-- <section>
            <label for="modelYear">Año del vehículo: </label>
            <input type="text" readonly="readonly" value="{{this.modelYear}}">
        </section> --}}

        {{!-- <section>
            <label for="nextItvDate">Próxima ITV: </label>
            <input type="date" readonly="readonly" value="{{this.nextItvDate}}">
        </section> --}}

        {{!-- <section>
            <label for="sellingPrice">Precio de venta: </label>
            <input type="text" readonly="readonly" value="{{this.sellingPrice}}">
        </section> --}}

        {{!-- <section>
            <label for="costPrice">Precio de coste del producto: </label>
            <input type="text" readonly="readonly" value="{{this.costPrice}}">
        </section> --}}

        <section>
            <label for="leasingPrice">Precio alquiler: </label>
            <input type="text" readonly="readonly" value="{{this.leasingPrice}}">
        </section>

        <section>
            <label for="leaseDate">Fecha de alquiler: </label>
            <input type="date" readonly="readonly" value="{{this.leaseDate}}">
        </section>

        <section>
            <label for="leaseReturnDate">Fecha devolución: </label>
            <input type="date" readonly="readonly" value="{{this.leaseReturnDate}}">
        </section>

        {{!-- <section>
            <label for="carColor">Color del coche: </label>
            <input type="text" readonly="readonly" value="{{this.carColor}}">
        </section> --}}

        <section>
            <label for="seatsNumber">Número de asientos: </label>
            <input type="text" readonly="readonly" value="{{this.seatsNumber}}">
        </section>

        <section>
            <label for="doorNumber">Número de puertas: </label>
            <input type="text" readonly="readonly" value="{{this.doorNumber}}">
        </section>

        <section>
            <label for="trunkSize">Tamaño maletero: </label>
            <input type="text" readonly="readonly" value="{{this.trunkSize}}">
        </section>

        <section>
            <label for="co2Emissions">co2 Emisiones: </label>
            <input type="text" readonly="readonly" value="{{this.co2Emissions}}">
        </section>

        <section>
            <label for="carType">Tipo de coche: </label>
            <input type="text" readonly="readonly" value="{{this.carType}}">
        </section>

        <section>
            <label for="airConditioner">Aire acondicionado: </label>
            <input type="text" readonly="readonly" value="{{this.airConditioner}}">
        </section>

        <section>
            <label for="transmissionType">Tipo de transmisión: </label>
            <input type="text" readonly="readonly" value="{{this.transmissionType}}">
        </section>

        <section>
            <label for="motorType">Tipo de motor: </label>
            <input type="text" readonly="readonly" value="{{this.motorType}}">
        </section>

        {{!-- <section>
            <label for="stock">Stock: </label>
            <input type="text" readonly="readonly" value="{{this.stock}}">
        </section> --}}

        <section>
            <label for="availability">Disponibibilidad: </label>
            <input type="text" readonly="readonly" value="{{this.availability}}">
        </section>

        <a href="/rentalCars/deleteCar/{{this._id}}">Borrar</a>
        <a href="/rentalCars/updateCar/{{this._id}}">Editar</a>
        <a href="/rentalCars/all">Atrás</a>
    </fieldset>