<section>
    
        {{#each cars}}
            <ul class="O-car__list">
                <a href="/rentalCars/detail/{{_id}}">
                    <li><img src="{{carImage}}" alt="Car image"></li>
                    <li>Marca: {{carBrand}}</li>
                    <li>Modelo: {{carModel}}</li>
                    <li>Tipo: {{carType}}</li>
                </a>
            </ul>
        {{/each}}
  
</section>