<form action="/rentalCars/updateCar/{{this._id}}" method="POST" id="formRent" class="M-form">
    <fieldset>
        <legend>Editar datos </legend>

        <section id="">
            <label for="carBrand">Marca: </label>
            <input type="text" id="carBrand" name="carBrand" value="{{this.carBrand}}" />
        </section>

        <section id="">
            <label for="carModel">Modelo del coche: </label>
            <input type="text" id="carModel" name="carModel" value="{{this.carModel}}" />
        </section>

        {{!-- <section id="">
            <label for="modelYear">Año del vehículo: </label>
            <input type="text" id="modelYear" name="modelYear" value="{{this.modelYear}}" />
        </section>

        <section id="nextItvDate">
            <label for="nextItvDate">Próxima ITV: </label>
            <input type="text" id="nextItvDate" name="nextItvDate" value="{{this.nextItvDate}}" />
        </section>

        <section id="sellingPrice">
            <label for="sellingPrice">Precio de venta: </label>
            <input type="number" id="sellingPrice" name="sellingPrice" value="{{this.sellingPrice}}" />
        </section> --}}

        {{!-- <section id="costPrice">
            <label for="costPrice">Precio de coste del producto: </label>
            <input type="number" id="costPrice" name="costPrice" value="{{this.costPrice}}" />
        </section> --}}

        <section id="leasingPrice">
            <label for="leasingPrice">Precio alquiler: </label>
            <input type="number" id="leasingPrice" name="leasingPrice" value="{{this.leasingPrice}}" />
        </section>

        <section id="leaseDate">
            <label for="leaseDate">Fecha de alquiler: </label>
            <input type="date" id="leaseDate" name="leaseDate" value="{{this.leaseDate}}" />
        </section>

        <section id="leaseReturnDate">
            <label for="leaseReturnDate">Fecha devolución: </label>
            <input type="date" id="leaseReturnDate" name="leaseReturnDate" value="{{this.leaseReturnDate}}" />
        </section>

        <section id="carImage">
            <label for="carImage">Imagen: </label>
            <input type="url" id="carImage" name="carImage" value="{{this.carImage}}" />
        </section>

        {{!-- <section id="carColor">
            <label for="carColor">Color del coche: </label>
            <input type="text" id="carColor" name="carColor" value="{{this.carColor}}" />
        </section> --}}

        <section id="seatsNumber">
            <label for="seatsNumber">Número de asientos: </label>
            <input type="number" id="seatsNumber" name="seatsNumber" value="{{this.seatsNumber}}" />
        </section>

        <section id="doorNumber">
            <label for="doorNumber">Número de puertas: </label>
            <input type="number" id="doorNumber" name="doorNumber" value="{{this.doorNumber}}" />
        </section>

        <section id="trunkSize">
            <label for="trunkSize">Tamaño maletero: </label>
            <input type="number" id="trunkSize" name="trunkSize" value="{{this.trunkSize}}" />
        </section>

        <section id="co2Emissions">
            <label for="co2Emissions">co2 Emisiones: </label>
            <input type="text" id="co2Emissions" name="co2Emissions" value="{{this.co2Emissions}}" />
        </section>

        <section id="carType">
            <label for="carType">Tipo de coche: </label>
            <input type="text" id="carType" name="carType" value="{{this.carType}}" />
        </section>

        <section id="airConditioner">
            <label for="airConditioner">Aire acondicionado: </label>
            <input type="text" id="airConditioner" name="airConditioner" value="{{this.airConditioner}}" />
        </section>

        <section id="transmissionType">
            <label for="transmissionType">Tipo de transmisión: </label>
            <input type="text" id="transmissionType" name="transmissionType" value="{{this.transmissionType}}" />
        </section>

        <section id="motorType">
            <label for="motorType">Tipo de motor: </label>
            <input type="text" id="motorType" name="motorType" value="{{this.motorType}}" />
        </section>

        {{!-- <section id="stock">
            <label for="stock">Stock: </label>
            <input type="number" id="stock" name="stock" value="{{this.stock}}" />
        </section> --}}

        <section id="availability">
            <label for="availability">Disponibilidad: </label>
            <input type="text" id="availability" name="availability" value="{{this.availability}}" />
        </section>

        <button type="submit">Enviar</button>
        <button type="reset">Reset</button>
        <a type="button" href="/rentalCars/detail/{{this._id}}">Atrás</a>

    </fieldset>
</form>