<aside class="o-slider-container">

    <section class="m-slider">
        {{#each sliderCars}}
        <article class="a-slider-element">
            <a href="">
                <figure class="slider-figure">
                    <img src= {{carImage}} alt="">
                    <figcaption class="a-slider-figure__details">
                      <dl>
                          <dt>Marca</dt><dd>{{carBrand}}</dd>
                          <dt>Modelo</dt><dd>{{carModel}}</dd>
                          <dt>Transmisión</dt><dd>{{transmissionType}}</dd>
                          <dt>Combustible</dt><dd>{{motorType}}</dd>
                     </dl>  
                    </figcaption>
                    
                    <figcaption class="a-slider-figure__price--red">
                      7500€
                    </figcaption>
                </figure>
            </a>
        </article>
        {{/each}}

        {{!-- <article class="a-slider-element">
            <a href="">
                <figure class="slider-figure">
                    <img src="https://i.blogs.es/49aa86/hss-storage-midas-994c14fecc8c90586fda7011b437db06-205190306-1-copia/450_1000.jpg"
                        alt="">              
           <figcaption class="a-slider-figure__details">
                      <dl>
                          <dt>Marca:</dt><dd>Mini</dd>
                          <dt>Modelo:</dt><dd>Cooper</dd>
                          <dt>Transmisión:</dt><dd>Automática</dd>
                          <dt>Combustible:</dt><dd>Gasolina</dd>
                      </dl>  
                    </figcaption>
                    
                    <figcaption class="a-slider-figure__price--red">
                      7500€
                    </figcaption>
                </figure>
            </a> --}}
        {{!-- </article>


        <article class="a-slider-element">
            <a href="">
                <figure class="slider-figure">
                    <img src="https://imagenes-cdn.autofacil.es/multimedia/fotos/2019/05/28/160647/fotos-coches-gastan-mercado-15_g.jpeg"
                        alt="">
                    <figcaption class="a-slider-figure__details">
                      <dl>
                          <dt>Marca:</dt><dd>Mini</dd>
                          <dt>Modelo:</dt><dd>Cooper</dd>
                          <dt>Transmisión:</dt><dd>Automática</dd>
                          <dt>Combustible:</dt><dd>Gasolina</dd>
                      </dl>  
                    </figcaption>
                    
                    <figcaption class="a-slider-figure__price--red">
                      7500€
                    </figcaption>
                </figure>
            </a>
        </article> --}}

    </section>

</aside>