<form action="/rentalUsers/updateUser/{{userDetail._id}}" method="POST" id="formUser">
        
    <h2>Editar usuario</h2>

    <section>
        <label for="name">Nombre: </label>
        <input type="text" id="name" name="name" value="{{userDetail.name}}">
    </section>

    <section>
        <label for="surname">Apellidos: </label>
        <input type="text" id="surname" name="surname" value="{{userDetail.surname}}">
    </section>

    <section>
        <label for="dniNumber">DNI: </label>
        <input type="number" id="dniNumber" name="dniNumber" value="{{userDetail.dniNumber}}">
    </section>

    <section>
        <label for="userName">Nombre de usuario: </label>
        <input type="text" id="userName" name="userName" value="{{userDetail.userName}}">
    </section>

    <section>
        <label for="password">Contraseña: </label>
        <input type="password" id="password" name="password" value="{{userDetail.password}}">
    </section>

    <section>
        <label for="email">Dirección de email: </label>
        <input type="email" id="email" name="email" value="{{userDetail.email}}">
    </section>

    <section>
        <label for="avatar">Foto del usuario: </label>
        <input type="file" id="avatar" name="avatar" value="{{userDetail.avatar}}">
    </section>

    <section>
        <label for="membership">Membresía: </label>
        <input type="text" id="membership" name="membership" value="{{userDetail.membership}}">
    </section>

    <section>
        <label for="membershipExpirationDate">Fecha fin usuario: </label>
        <input type="date" id="membershipExpirationDate" name="membershipExpirationDate" value="{{userDetail.membershipExpirationDate}}">
    </section>

    {{!-- <section>
        <label for="leasedCars">Coches alquilados: </label>
        <input type="text" id="leasedCars" name="leasedCars" value="{{userDetail.leasedCars}}">
    </section> --}}

    <button type="submit">Enviar</button>
    <button type="reset">Reset</button>

</form>